* {
    box-sizing: border-box;
    margin: 0;
}


#container {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}


.box-view {
width: 645px;
height: 496px;
background: #DED4D4;
border: 1px solid #000000;
}

.head-view {
    margin: 20px auto;
    display: flex;
    width: 363px;
    height: 37px;
    background: #D9D9D9;
    border: 1px solid #000000;
}

h1 {
    /* Text */
font-family: 'Montserrat', sans-serif;
font-weight: 400;
font-size: 20px;
margin: auto;
color: #000000;


}

/* Rectangle 1 */

box-sizing: border-box;

position: absolute;



/* Rock Paper Scissors */

position: absolute;
width: 312px;
height: 24px;
left: 180px;
top: 22px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.305em;

color: #000000;



/* Rectangle 2 */

box-sizing: border-box;

position: absolute;
width: 499px;
height: 262px;
left: 73px;
top: 92px;

background: #D9D9D9;
border: 1px solid #000000;


/* Welcome to Rock Paper Scissors Game. */

position: absolute;
width: 395px;
height: 24px;
left: 125px;
top: 199px;



/* Rectangle 3 */

position: absolute;
width: 143px;
height: 36px;
left: 238px;
top: 258px;

background: #159ED9;
border-radius: 11px;


/* Play */

position: absolute;
width: 44px;
height: 25px;
left: 287px;
top: 264px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 126.4%;
/* or 25px */
letter-spacing: 0.015em;

color: #FFFFFF;

