* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    
}


#container {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

body {   
    background: #DED4D4;
}

.box-view {
width: 645px;
height: 496px;
}

.head-view {
    margin: 20px auto;
    display: flex;
    width: 363px;
    height: 37px;
    background: #D9D9D9;
    border: 1px solid #000000;
}

h1 {/*Head Text */
    font-weight: 400;
    font-size: 20px;
    margin: auto;
    color: #000000;
    letter-spacing: 4px;
}


.main-view {
    margin: 32px auto;
    width: 499px;
    height: 262px;
    background: #D9D9D9;
    border: 1px solid #000000;
    text-align: center;
}

p {
    position: relative;
    font-size: 20px;
    margin: 100px auto 0 auto;
}


/*Play */
button {
    position: relative;
    width: 143px;
    height: 36px;
    margin-top: 25px;
    background: #159ED9;
    border: 0;
    border-radius: 8px;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.015em;
    transition: 0.6s ease;
    color: #FFFFFF;
}

button:hover {
    background-color: #44b1e1;
}

.hide {
    display: none;
}
